Django==4.2.27
djangorestframework==3.16.1
djangorestframework-simplejwt==5.4.0
django-cors-headers==4.9.0
django-filter==24.3
drf-spectacular==0.29.0
drf-spectacular-sidecar==2026.1.1
gunicorn==23.0.0
psycopg2-binary==2.9.11
whitenoise==6.11.0
dj-database-url==3.1.0
requests==2.32.5
